@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Serif', serif;
}

.footer {
    background: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    height: 15em;
    flex-wrap: wrap;
}

/* .logo {
    width: 20em;
    display: flex;
} */

.logo img {
    margin: 0 12px;
    width: 17em;
}


.footcontact {
    width: 45em;
    /* margin-left: -4px; */
    text-align: center;
    text-transform: capitalize;
}

.allicons {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}


.iconss {
    width: 21em;
    display: flex;
    justify-content: space-around;
}

.iconss .icon-ap {
    border-radius: 7px;
    cursor: pointer;
}

/* for icon */
.icon-ap:hover {
    padding: 5px 7px;
    background-color: rgb(243, 24, 24);
    border-radius: 6px;
}

.share .icon-ap {
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
}

/* media query */

@media screen and (max-width:992px) {
    .footer {
        margin-top: 77px;
        height: 17em;
        width: 102%;    }

    .logo {
        margin: 8px auto;
    }

    .footcontact {
        margin: 7px 7px;
    }

    .iconss {
        margin: 10px auto;
    }
}
@media screen and (max-width:446px) {
    .footer {
        margin-top: 77px;
        height: 17em;
        width: 103%; 
       }

  
}